/* --- CSS RESET --- */
* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}
/* --- CSS RESET --- */

html {
  background-color: paleturquoise
}

div#root {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  padding: 10px;
}

div.char {
  border: 2px solid black
}

div.char h2, h3 {
  text-align: center;
}

div.char h2 {
  margin-top: 10px;
}

div.char h3 {
  margin-bottom: 10px;
}